*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #d5d9e0;
}

.product-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    justify-content: center;
    align-items: center;
}

.img-slide{
    width: 40%;
    padding: 3vw;
}

.package-summary{
    width: 40%;
    padding-right: 60px;
    margin-bottom: 50px;
}

.package-summary h1{
    font-weight: bold;
    color: #04113d;
}

.summary-desc{
    font-size: 16px;
    font-weight: normal;
    color: #747475;
    margin: 0;
}

.price-div{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    padding-bottom: 10px;
}

.price-currency{
    padding-top: 10px;
    padding-right: 15px;
    margin: 0;
}

.price{
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

.cart-variations{
    padding-top: 5px;
}

.variations{
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    border-width: 1px;
    border-color: #896D6A;
}

.variations th{
    font-weight: normal;
    font-size: 14px;
    padding-top: 1px;
    background-color: #ccc4bc;
    border-radius: 30px;
}

.variations td{
    padding-left: 10px;
}

.variations select{
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    background-color: transparent;
    text-align: center;
    padding-bottom: 2px;
    font-weight: bold;
}

.quantity{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
}

.qty-input {
    width: 30%;
    border-width: 1px;
    border-color: #896D6A;
    border-radius: 20px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
}

input[type=number]{
    width: 80%;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.qty-input button{
    margin: 0;
    background-color: transparent;
    font-weight: bold;
    font-size: 14px;
}

.product-qty{
    background-color: transparent;
}

.ATC{
    width: 70%;
    padding-left: 20px;
    flex-grow: 1;
}

.ATC button{
    background-color: transparent;
    border-width: 1px;
    border-color: #896D6A;
    padding: 8px;
    font-size: 14px;
    border-radius: 20px;
    margin: 0;
    width: 100%;
}

.add-to-cart{
    padding-top: 20px;
    padding-bottom: 20px;
}

.description{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 3vw;
    padding: 30px;
    padding-top: 20px;
    background-color: #dfdacd;
    border-radius: 20px;
}

.desc-tabs{
    list-style: none;
    overflow: hidden;
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
}

.desc-tabs a{
    background-color: black;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
}

.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img{
    border-radius: 20px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}