.footer{
    background-color: #D6C5B4; /* Set footer background color */
    color: #000; /* Set text color */
    padding: 50px 0; 
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-left p{
    font-size: 16px;
    color: #4d4642;
    text-align: justify;
    
    

}
.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    margin: 0 100px;
}

.footer-left h3,
.footer-center h3,
.footer-right h3{
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer-center ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-center li{
    position: relative;
    margin-bottom: 30px;
}

.footer-center ul li:hover{
    color: #000;
    text-decoration: underline;
}

.footer-center a{
    text-decoration: none;
    color: #4d4642;
}

.footer-center a{
    font-size: 16px;
    line-height: 1.8px;
    margin: 0;
}

.footer-right > div{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4d4642;

}

.footer-right {
    font-size: 16px;
}


.footer-right i{
    margin-right: 10px;
    color: #4d4642;
}


.footer-icons {
    display: flex;
    justify-content: left;
    align-items: center;
}

.footer-icons a {
    color: #fff; 
    font-size: 30px; 
    margin-right: 10px; 
}

@media (max-width: 768px) {
    .footer-left,
    .footer-center,
    .footer-right {
        margin: 0 50px; /* Adjust margin for smaller screens */
    }

    .footer-left h3,
    .footer-center h3,
    .footer-right h3 {
        font-size: 18px; /* Adjust font size for smaller screens */
    }

    .footer-left p {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}

@media (max-width: 576px) {
    .footer-left,
    .footer-center,
    .footer-right {
        margin: 0 20px; /* Further adjust margin for even smaller screens */
    }

    .footer-left h3,
    .footer-center h3,
    .footer-right h3 {
        font-size: 16px; /* Further adjust font size for even smaller screens */
    }

    .footer-left p {
        font-size: 12px; /* Further adjust font size for even smaller screens */
    }
}