*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.div-header{
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
}

.div-hd{
    padding-left: 20px;
}

.services-list .items{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 372px;
}

.packages-list .items{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 372px;
}

.items-tile{
    display: flex;
    overflow: auto;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    grid-column-gap: 320px;
    float: left;
}

.items{
    float: left;
    background-color: #dfdacd;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
}

.services-list .items-container{
    display: grid;
    grid-template-columns: max-content;
    grid-auto-flow: column;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    padding-left: calc(30% - 500px);
    padding-right: calc(30% - 500px);
    float: left;
}

.packages-list .items-container{
    display: grid;
    grid-template-columns: max-content;
    grid-auto-flow: column;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    padding-left: calc(30% - 500px);
    padding-right: calc(30% - 500px);
    float: left;
}

.link{
    display: inline-block;
    padding: 10px 20px;
    background-color: #790ff7;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

a{
    padding-left: 20px;
    text-decoration: none;
}

.scroll-container{
    overflow: hidden;
    white-space: nowrap;
}

.items-tile{
    padding: 0;
}

.squarePic img{
    object-fit: cover;
}

.items-img{
    height: 200px;
    width: auto;
}

.items-img img{
    height: 100%;
    width: 200px;
}

.sticky-element{
    position: sticky;
    top: calc(100% - 60px);
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.sticky-element li{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.sticky-element button{
    margin-left: 0;
    padding: 0;
    background-color: rgba(157,146,119,0.3);
    border: none;
    border-radius: 100%;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.sticky-element button:hover{
    cursor: pointer;
}

svg{
    background-color: transparent;
}

.nav-arrow{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10%;
}

.sticky-element-div{
    padding-bottom: 30px;
}

.sticky-element .previous-arrow{
    inset-inline-end: 10%;
}

.sticky-element .next-arrow{
    inset-inline-end: 5%;
}