*{
    border-width: 0;
    border-style: solid;
}

body{
    margin: 0;
    background-color: rgba(194,178,152,0.11);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

div{
    display: block;
}

img{
    width: 15%;
    height: auto;
}

.navbar{
    width: 90%;
    margin: 0 auto;
}

.nav-div{
    background-color: #D6C5B4;
    overflow: visible;
    position: relative;
}

.nav-div ::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    padding-top: 20px ;
}

.body-logo{
    padding-top: 20px;
}
nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.align-li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

.nav-btn a{
    color: #5A4221;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.nav-btn a:hover{
    color: #000;
}

.nav-btn a::before{
    content: '';
    display: block;
    height: 5px;
    background-color: #4d4642;

    position: absolute;
    top: 0;
    width: 0%;

    transition:all ease-in-out 250ms;
}

.nav-btn a:hover::before{
    width: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.container-logo{
    text-align: center;
}

.container-header{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;

}

.content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    position: relative;
    font-size: 70px;
}

.content .left-side::before{
    content: '';
    position: absolute;
    height: 120%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}
.content .left-side .details{
    margin: 30px;
    text-align: center;
}
.content .left-side .details i{
    font-size: 40px;
    color: #000;
    margin-bottom: 10px;
}
.content .left-side .details .topic{
    font-size: 20px;
    font-weight: 500;
}

.content .left-side .details .firstRow,
.content .left-side .details .secondRow,
.content .left-side .details .thirdRow{
    font-size: 20px;
    color: #7a7371;
}
.right-side{
    width: 75%;
    height: 100%;
    margin-left: 100px;
}

.right-side .text-input-field{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .text-input-field,
.right-side .textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}
.form-content{
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: block;
}

.grid{
    gap: 0.75rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    display: grid;
}

.text-input-field{
    flex-direction: column-reverse;
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.text-input-field label{
    pointer-events: none;
    position: relative;
    left: 0;
    cursor: default;
    margin-bottom: 5px;
    font-size: 18px;
}

.text-input-field .input{
    display: block;
    width: 100%;
    border-radius: 4px;
    border-width: 1px;
    padding: 8px;
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="text" i]{
    padding-block: 1px;
    padding-inline: 2px;
}

textarea{
    resize: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input{
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-align: start;
    appearance: auto;
    font-size: 18px;
}

.grid-col2{
    gap: 0.75rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
}

button{
    margin-left: 14px;
}

.btn-container{
    margin-top: 1rem;
}

.btn.btn-lg{
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
}

.btn.submit-btn{
    border-color: #637493;
    background-color: #728298;
    color: white;

}

section .btn{
    display: block;
    margin-top: 20px;
}

.btn{
    cursor: pointer;
    border-radius: 0.375rem;
    border-width: 1px;
    text-align: center;
    text-decoration-line: none;
}

button{
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    padding-block: 1px;
    padding-inline: 6px;
}


@media only screen and (max-width: 992px) {
    .container{
        width: 90%;
    }
    .content .right-side{
        margin-left: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .content{
        flex-direction: column;
    }
    .content .left-side{
        width: 100%;
        margin-top: 20px;
    }
    .content .right-side{
        width: 100%;
        margin-left: 0;
    }
    .right-side .text-input-field .input,
    .right-side .textarea{
        font-size: 16px;
    }
    .grid-col2{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .btn{
        margin-left: 0;
    }
}

@media only screen and (max-width: 576px) {
    .content .left-side{
        font-size: 40px;
    }
}